@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div width="520" height="240" controls>
    <video autoplay="autoplay" enableContextMenu="true">
        <source src="~/Content/video/videoplayback.mp4" type='video/mp4' />
    </video>
</div>
